In [6]:
import pandas as pd
import numpy as np

In [7]:
data = pd.read_excel('tests/experiment/data/test_human_aki.xlsx')
data

,stay_id,charttime,urineoutput,urineoutput_stage,creat,abs_crea_stage,rel_crea_stage,weight,rrt_status,rrt_stage,stage
0,30057454.0,2171-11-07 21:00:00,NaN,NaN,2.0,NaN,NaN,87.2,NaN,NaN,NaN
1,NaN,2171-11-07 22:00:00,NaN,NaN,2.0,NaN,NaN,87.2,NaN,NaN,NaN
2,NaN,2171-11-07 23:00:00,NaN,NaN,2.0,NaN,NaN,87.2,NaN,NaN,NaN
3,NaN,2171-11-08 00:00:00,NaN,NaN,2.0,NaN,NaN,87.2,NaN,NaN,NaN
4,NaN,2171-11-08 01:00:00,NaN,NaN,2.0,NaN,NaN,87.2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
17939,NaN,2148-01-08 12:00:00,100.0,NaN,NaN,NaN,NaN,120.0,NaN,NaN,NaN
17940,NaN,2148-01-08 13:00:00,270.0,NaN,NaN,NaN,NaN,120.0,NaN,NaN,NaN
17941,NaN,2148-01-08 14:00:00,120.0,NaN,NaN,NaN,NaN,120.0,NaN,NaN,NaN
17942,NaN,2148-01-08 15:00:00,125.0,NaN,NaN,NaN,NaN,120.0,NaN,NaN,NaN
17943,NaN,2148-01-08 16:00:00,250.0,NaN,NaN,NaN,NaN,120.0,NaN,NaN,NaN

In [15]:
import random
stay_ids = data.stay_id.unique()
# select 3 sets of 5 random stays
random.seed(301)
random_stay_ids = random.sample(list(stay_ids), 15)
random_stay_ids

[37267577.0,
 39268883.0,
 38540883.0,
 34592300.0,
 35009126.0,
 32314488.0,
 34617352.0,
 39635619.0,
 32391858.0,
 32119961.0,
 38383343.0,
 35514836.0,
 30849778.0,
 33281088.0,
 35258379.0]

In [16]:
set_1 = random_stay_ids[:5]
set_2 = random_stay_ids[5:10]
set_3 = random_stay_ids[10:15]
set_1, set_2, set_3

([37267577.0, 39268883.0, 38540883.0, 34592300.0, 35009126.0],
 [32314488.0, 34617352.0, 39635619.0, 32391858.0, 32119961.0],
 [38383343.0, 35514836.0, 30849778.0, 33281088.0, 35258379.0])